nav, #bizTitle{
    font-family:Papyrus,Fantasy,Serif;
}
.navbar-brand{
    font-weight: bold;
}

.refContr{
    font-size: small;
}

h1{
    text-align: center;
    font-family: Papyrus,Fantasy,Serif;
}